<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dextar Airlines</title>
    <link rel="icon" type="image/x-icon" href="/air_icon.svg">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/flight.css">
    <script src="/main.js"></script>
    <script src="/flight.js"></script>
</head>
<body>
    <header>
      <%- include('header.html'); %> 
    </header>

    <section id="content">
        <div class="flight-info">
            <%
            var start_date = new Date(flight.departure_time);
            var start_date_str = start_date.toISOString();
            var tm = start_date_str.split("T")[1];
            tm = tm.substring(0, 8);
            var date_str = start_date_str.split("T")[0] + " " + tm.substring(0,5);
            var end_date = new Date(start_date.getTime() + flight.duration*60000);
            var end_date_str = end_date.toISOString();
            var tm_end = end_date_str.split("T")[1];
            tm_end = tm_end.substring(0, 8);
            var end_str = end_date_str.split("T")[0]+ " " + tm_end.substring(0,5);
            %>
            <h1>Flight Information</h1>
            <div class="info-section">
                <h2><i class="fas fa-plane-departure"></i> Departure city: <%= flight.c1 %></h2>
                <h2><i class="fas fa-plane-arrival"></i> Arrival city: <%= flight.c2 %></h2>
                <h2><i class="fas fa-clock"></i> Departure time: <%= date_str %></h2>
                <h2><i class="fas fa-clock"></i> Arrival time: <%= end_str %></h2>
                <h2><i class="fas fa-dollar-sign"></i> Price: <%= flight.price %>$</h2>
                <% if (flight.rem_seats) { %>
                    <h2><i class="fas fa-chair"></i> Remaining seats: <%= flight.rem_seats %></h2>
                <% } %>
            </div>
            <% if (user && user.username === 'dextar') { %>
                <div class="admin-actions">
                    <form method="post" action="/airline/flight/<%= flight.id %>/cancel">
                        <input type="submit" value="Cancel flight" />
                    </form>
                    <form method="post" action="/airline/flight/<%= flight.id %>/delay">
                        <label for="delay">Delay in minutes:</label>
                        <input type="number" min="-1000" max="1000" value="0" name="delay" id="delay">
                        <input type="submit" value="Delay flight" />
                    </form>
                </div>
            <% } %>
            <form method="post" id="reserve" action="/airline/flight/<%= flight.id %>/book">
                <label for="cnt_people">Passengers number:</label>
                <input type="number" name="cnt_people" id="cnt_people" min="1" max="10" value="1">
                <input type="submit" value="Reserve" />
            </form>
        </div>
    </section>

    <footer>
        <%- include('footer.html'); %>
    </footer>
</body>
</html>
