
    <!-- <div class="copyright">
        <img src="/static/img/copyright.svg" width="40px">
        <p>All rights reserved.</p>
    </div> -->
    <div class="flex-flights">
        <div class="flex-item">
            <h2>Stay with us</h2>
            <ul>
                <li><a href="#"><img src="/instagram.svg" width="40px"></a></li>
                <li><a href="#"><img src="/discord.svg" width="40px"></a></li>
                <li><a href="#"><img src="/youtube.svg" width="40px"></a></li>
            </ul>
        </div>

        <div class="flex-item">
            <h2>Payment options</h2>
            <ul>
                <li><a href="#"><img src="/mastercard.svg" width="40px"></a></li>
                <li><a href="#"><img src="/visa.svg" width="40px"></a></li>
                <li><a href="#"><img src="/paypal.svg" width="40px"></a></li>
            </ul>
        </div>

        <div class="flex-item">
            <h2>Popular countries</h2>
            <ul>
                <li><a href="#"><img src="/germany.svg" width="40px"></a></li>
                <li><a href="#"><img src="/france.svg" width="40px"></a></li>
                <li><a href="#"><img src="/canada.svg" width="40px"></a></li>
            </ul>
        </div>
    </div>

