<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dextar</title>
    <link rel="icon" type="image/x-icon" href="programmer.svg">
    <link rel="stylesheet" href="/profile.css">
    <script src="/profile.js"></script>
</head>

<header>
    <nav>
        <ul>
            <li>
                <div class="UL">
                    <img src="/medal.svg" width="35px">
                </div>
            </li>
            <li><a href="#">Dextar</a></li>
            <li>
                <a href="#"><span>Hobbies</span>
                    <svg fill="white" width="25px" height="25px" viewBox="-6.5 0 32 32" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                        <title>dropdown</title>
                        <path d="M18.813 11.406l-7.906 9.906c-0.75 0.906-1.906 0.906-2.625 
                        0l-7.906-9.906c-0.75-0.938-0.375-1.656 0.781-1.656h16.875c1.188 0 1.531 0.719 0.781 1.656z"></path>
                        </svg>
                </a>

                <ul class="dropdown">
                    <li><p>Competitive Programming</p></li>
                    <li><p>Chess</p></li>
                    <li><p>Reading</p></li>
                    <li><p>Call of Duty</p></li>
                    <li><p>Airsoft</p></li>
                </ul>
            </li>
            <li>
                <a href="#"><span>Skills</span>
                    <svg fill="white" width="25px" height="25px" viewBox="-6.5 0 32 32" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                        <title>dropdown</title>
                        <path d="M18.813 11.406l-7.906 9.906c-0.75 0.906-1.906 0.906-2.625 
                        0l-7.906-9.906c-0.75-0.938-0.375-1.656 0.781-1.656h16.875c1.188 0 1.531 0.719 0.781 1.656z"></path>
                        </svg>
                </a>
                <!-- <div class="dropdown"> -->
                <ul class="dropdown">
                    <li><p>Python</p></li>
                    <li><p>C++</p></li>
                    <li><p>SQL</p></li>
                    <li><p>DSA</p></li>
                    <li><p>Maths</p></li>
                    <li><p>Problem Solving</p></li>
                    <li><p>Html+Css+Js</p></li>
                </ul>
                <!-- </div> -->
            </li>
            <li><a href="#">Awards</a></li>
            <li>
                <div class="UR">
                    <img src="/medal.svg" width="35px">
                </div>
            </li>
        </ul>
    </nav>
</header>

<body>
    <div class="personal">

        <!-- <div class="DL">
            <img src="/static/img/medal.svg" width="50px">
        </div>

        <div class="DR">
            <img src="/static/img/medal.svg" width="50px">
        </div> -->
        <!-- <h2>AI Engineer and Competitive Programmer</h2> -->
        <div class="description">
            <div class="about-text">
                <div class="titles">
                    <h1 class="animated-text">Dextar</h1>
                    <h2>CS Student and Competitive Programmer</h2>
                </div>
                <p>I'm a passionate Computer Science student at University of Bucharest.
                     I'm eager to explore the digital world of new
                    technologies. Problem solving and critical thinking are the skills which help me dive deep into complex topics and 
                    acquire new knowledge. "Only undertake what you can do in an excellence fashion. 
                    There are no prizes for average performance."
                </p>
            </div>
            <div class="my-img">
                <img class="profile-img" src="/dextar.png" width="400px" height="300px">
            </div>
        </div>

        <section id="projects">
            <h1>Projects</h1>
            <div class="container">
                <div class="proj" onclick="convex_git()">
                    <div class="proj-img">

                    </div>
                    <h2>Convex Hull</h2>
                    <div class="tech">
                        <h3>Python</h3>
                        <h3>Geometry</h3>
                        <h3>Algorithms</h3>
                    </div>
                </div>
                <div class="proj" onclick="chess_git()">
                    <div class="proj-img">

                    </div>
                    <h2>Chess App</h2>
                    <div class="tech">
                        <h3>Python</h3>
                        <h3>SqlAlchemy</h3>
                        <h3>Jquery</h3>
                    </div>
                </div>
                <div class="proj" onclick="air_git()">
                    <div class="proj-img">

                    </div>
                    <h2>Airline Management</h2>
                    <div class="tech">
                        <h3>C++</h3>
                        <h3>OOP</h3>
                        <h3>Desing Patterns</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- <section id="projects">
        <h1>Projects</h1>
    </section> -->

    <footer>
        <div class="flex-item">
            <h2>Stay with me</h2>
            <ul>
                <li><a href="#"><img src="/instagram.svg" width="40px"></a></li>
                <li><a href="#"><img src="/discord.svg" width="40px"></a></li>
                <li><a href="#"><img src="/telegram.svg" width="40px"></a></li>
                <li><a href="#"><img src="/youtube.svg" width="40px"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>